.user-view {
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    min-height: calc(100vh - 113px);

    padding: 20px;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    background-color: #ffffff;
}
