HELP.md
target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Project Properties ###
/mvn.properties
/src/main/resources/db/migration/dev.properties
/src/main/resources/application-dev.properties

.DS_Store

### NODE
.env
.vscode/
node_modules/
yarn.lock
package-lock.json
yarn-error.log

